<a
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer"
    role="link"
    class="inline-flex items-center justify-center gap-2 px-4 py-1 border text-slate-100 transition bg-slate-900 rounded-full
    dark:bg-slate-100 dark:text-slate-900
     hover:bg-slate-100 hover:border-slate-900 hover:text-slate-900 dark:hover:bg-gray-100 dark:hover:border-gray-300
     dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring
    focus-visible:ring-offset-2 active:bg-black"
>
    <slot />
</a>
