---
import Section from "./shared/Section.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section id="about" title={t('about')}>
    <p>
        {t('about_text')}
    </p>
</Section>